@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


.libre-bodoni-variable {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 500 700;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #06caed;
    font-family: 'Libre Bodoni', serif;
}
header {
    background-color: #074bf8;
    color: #fff;
    padding: 10px;
    text-align: center;
}
header a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a img {
    margin-right: 10px;
    width: 50px;
    height: 50px;

}
header a h1 {
    margin-top: 10px;
    font-size: 2.5em;
}

nav {
    justify-content: center;
    background-color: #e411d6;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}
nav a:hover {
    text-decoration: underline;
}
main {
    color: #cf1414;
    padding: 10px;
}
main article.articulo {
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
main article.articulo h2 {
    background-color: yellow;
    width: 30%;
    min-width: 350px;
    padding: 20px;
    font-size: 1.8em;
}

main article.articulo img {
    width: 50%;
    min-width: 300px;
    max-width:  400px;
    float: left;
    margin-right: 20px;
}

main article.articulo .contenido {   
    padding: 20px;

}
main article.articulo .contenido p {
    font-size: 1.4em;
    margin-top: 10px 30px;
    line-height: 1.5em;
}
main article.articulo .contenido img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 450px;
    margin-top: 10px;
}

main h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
}
footer {
    background-color: #074bf8;
    color: #fff;
    padding: 10px;
    text-align: center;
}